.header {
    font-family: 'ZCOOL XiaoWei', serif;
}

.instructions {
    text-align: center;
    color: black;
    font-family: 'ZCOOL XiaoWei', serif;
    width: 40vw;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

table {
    height: 25rem;
    width: 25rem;
}

.row {
}

.buttons {
    display: flex;
    flex-direction: column;
    font-family: 'ZCOOL XiaoWei', serif;
}

button {
    margin-top: 20px;
    width: auto;
}