.header {
    font-family: 'ZCOOL XiaoWei', serif;
}

.instructions {
    text-align: center;
    color: black;
    font-family: 'ZCOOL XiaoWei', serif;
    width: 50vw;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

table {
    height: 25rem;
    width: 25rem;
}

.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    font-family: 'ZCOOL XiaoWei', serif;
}

button {
    margin-top: 20px;
    width: auto;
}